* {
    font-family: JetBrainsMono, sans-serif;
    font-size: 14px;
    color: #ffffff;
}

window#waybar {
    background-color: #000000;
    border-bottom: 2px solid #5FCFF9;
}

#workspaces button {
    padding: 0 10px;
    color: #30C4FA;
}

#network { color: #18C1FD; }
#battery { color: #25B3EC; }
#pulseaudio { color: #18C1FD; }
#clock { color: #30C4FA; }
