/* Waybar CSS - Pywal colors applied */
@define-color color0 #10131d;
@define-color color1 #7493A2;
@define-color color2 #9DA6A1;
@define-color color3 #CBBBA0;
@define-color color4 #D7C5AA;
@define-color color5 #E5CBA8;
@define-color color6 #A6C0C4;
@define-color color7 #c3c4c6;
@define-color color8 #5d6171;
@define-color color9 #7493A2;
@define-color color10 #9DA6A1;
@define-color color11 #CBBBA0;
@define-color color12 #D7C5AA;
@define-color color13 #E5CBA8;
@define-color color14 #A6C0C4;
@define-color color15 #c3c4c6;

* {
    font-family: "CaskaydiaCove Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: @color7;
    transition: background-color 0.5s;
}

.modules-left,
.modules-center,
.modules-right {
    background-color: transparent;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

#window { color: @color5; }
#clock { color: @color3; }
#cpu { color: @color2; }
#memory { color: @color4; }
#network { color: @color6; }
#pulseaudio { color: @color1; }
#pulseaudio#microphone { color: @color9; }
#custom-power { color: @color7; }
#tray { color: @color7; }

#workspaces button { color: @color5; }
#workspaces button:hover { background-color: transparent; }

#custom-spotify, #custom-firefox, #custom-steam {
    color: @color5;
    background-color: transparent;
    border: none;
    padding: 0 5px;
    font-size: 13px;
}

#custom-spotify:hover, #custom-firefox:hover, #custom-steam:hover {
    background-color: transparent;
}
