[manager]
ratio          = [ 1, 3, 4 ]
sort_by        = "natural"
sort_sensitive = false
sort_dir_first = true
linemode       = "permissions"
show_hidden    = true
show_symlink   = true

[preview]
max_width       = 1500
max_height      = 1500
image_filter    = "lanczos3"
image_quality   = 90

[opener]
edit = [ { run = '${EDITOR:-nano} "$@"', block = true, desc = "Edit" } ]
play = [ { run = 'mpv "$@"', orphan = true, desc = "mpv" } ]

[open]
rules = [
    { name = "*/", use = [ "edit" ] },
    { mime = "text/*", use = [ "edit" ] },
    { mime = "image/*", use = [ "play" ] },
    { mime = "video/*", use = [ "play" ] },
]

[plugin]
previewers = [
    { name = "*/", run = "folder", sync = true },
    { mime = "text/*", run = "code" },
    { mime = "image/*", run = "image" },
    { mime = "video/*", run = "video" },
    { mime = "application/pdf", run = "pdf" },
    { name = "*", run = "file" }
]
